<footer>
  <img
    src="./assets/img/5_section_footer/SVG/sakura_ramen_logo_and_text.svg"
    alt=""
    class="footer-logo"
  />
  <img
    src="./assets/img/1_hero/PNG/sakura_logo.png"
    alt=""
    class="footer-logo-2"
  />
  <div>
    <img
      class="mobile-img-logo"
      src="./assets/img/5_section_footer/SVG/tripadvisor_logo.svg"
      alt=""
      class="footer-img"
      style="margin-left: 10px; height: 40px"
    />
    <img
      class="mobile-img-logo"
      src="./assets/img/5_section_footer/SVG/facebook_logo.svg"
      alt=""
      style="margin-left: 10px; height: 40px"
    />
    <img
      class="mobile-img-logo"
      src="./assets/img/5_section_footer/SVG/instagram_logo.svg"
      alt=""
      style="margin-left: 10px; height: 40px"
    />

    <a routerLink="/imprint" routerLinkActive="active">IMPRINT</a>
  </div>
</footer>
