<section id="menu" class="container menu-card-container" id="menu">
  <h2>OUR MENU</h2>
  <div class="menu-card-item">
    <img
      class="menu-card-img"
      src="../assets/img/3_section_our_menu/Png/R1.png"
      alt=""
    />
    <table class="ml-80 ml-24">
      <th>Tonkatsu Ramen</th>
      <tr>
        <td>CHICKEN</td>
        <td class="ta-right">11.95€</td>
      </tr>
      <tr>
        <td>BEEF</td>
        <td class="ta-right">12.95€</td>
      </tr>
      <tr>
        <td>SHRIMP</td>
        <td class="ta-right">13.95€</td>
      </tr>
    </table>
  </div>
  <div class="menu-card-item mt-56 mt-32 jc-right">
    <img
      class="menu-card-img"
      src="../assets/img/3_section_our_menu/Png/R2.png"
      alt=""
    />
    <table class="mr-80 mr-24">
      <th>Spicy Miso Ramen</th>
      <tr>
        <td>CHICKEN</td>
        <td class="ta-right">11.95€</td>
      </tr>
      <tr>
        <td>BEEF</td>
        <td class="ta-right">12.95€</td>
      </tr>
      <tr>
        <td>SHRIMP</td>
        <td class="ta-right">13.95€</td>
      </tr>
    </table>
  </div>

  <div class="menu-card-item mt-56 mt-32">
    <img
      class="menu-card-img"
      src="../assets/img/3_section_our_menu/Png/R3.png"
      alt=""
    />
    <table class="ml-80 ml-24">
      <th>Shio Ramen</th>
      <tr>
        <td>CHICKEN</td>
        <td class="ta-right">11.95€</td>
      </tr>
      <tr>
        <td>BEEF</td>
        <td class="ta-right">12.95€</td>
      </tr>
      <tr>
        <td>SHRIMP</td>
        <td class="ta-right">13.95€</td>
      </tr>
    </table>
  </div>
</section>
