/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-v30-latin-regular.woff2");
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/raleway-v34-latin-regular.woff2");
}

body {
  margin: 0;
  font-family: "Raleway";
}

h1,
h2 {
  margin: 0;
}
